---
title: Stefano Gavioli - CV
permalink : /curriculum
layout: page
---

<h1>Curriculum Vitae</h1>
<span>
    Here is my curriculum vitae. You can <b>download</b> the pdf version here: <a href="/assets/pdf/Stefano%20Gavioli%20CV%20ITA.pdf">italian</a> or <a href="/assets/pdf/Stefano%20Gavioli%20CV%20ENG.pdf">english</a>.
        </span>
<hr style="margin:20px 0px 20px; width:100%">
{% include data.html data=site.data.work name="Esperienze Lavorative" %}

{% include data.html data=site.data.education name="Educazione"%}


{% include data-no-sub-head-pic.html data=site.data.activities name="Attività" %}


{% include data-bars.html data=site.data.skillprofessionali name="Skill professionali" %}

{% include data-bars.html data=site.data.skillpersonali name="Skill personali" %}

{% include data-no-sub-head-pic.html data=site.data.interests name="Interessi" %}


<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"><i class="material-icons md-48">keyboard_arrow_up</i></a>
<script type="text/javascript">
    var skillsprofessionali = {{site.data.skillprofessionali.elements | jsonify}};
    var skillspersonali     = {{site.data.skillpersonali.elements | jsonify}}
</script>

