{% assign data=include.data %}
{% assign subclass="no-head-pic" %}
<div class="main-point {{subclass}}" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back">
    <div class="main-point-header {{subclass}}" id="main-point-header-{{include.name | slugify}}">
        <img src="/assets/img/larrow.webp"/>
        <h1>{{include.name}}</h1>
    </div>
    {% for element in data %}
    <div class="sub-point {{subclass}}">
        <div class="sub-point-header {{subclass}}">
            <img src="/assets/img/larrow-small.webp" alt="larrow"/>
            <h2 {% if include.name == "Interessi" %}  class="interessi-h2" {%endif%}>{{element.name}} </h2>
        </div>
        <div class="sub-point-content {{subclass}}">
            <p class="sub-point-content-short {{subclass}}">{{element.short}}</p>
        </div>
    </div>
    {% endfor %}
</div>

