{% assign data=include.data %}

<div class="main-point" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back">
    <div class="main-point-header" id="main-point-header-{{include.name | slugify}}">
        <img src="/assets/img/larrow.webp"/>
        <h1>{{include.name}}</h1>
    </div>

    <div class="sub-point">
        <br>
        <div class="sub-point-content">
            {% for element in data.elements %}
            <div class="sub-point-bar-container">
                <p class="sub-point-bar-name">{{element.name}}</p>
                <div class="data-bar">
                    <div class="ldBar label-center" data-value="0"
                         id="{{element.name | slugify}}" ></div>
                </div>
            </div>
            {% endfor %}
            {% if data.learnt %}
            <div class=" sub-point-content-list
                ">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Altre:
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                {% for item in data.learnt %}
                                <li>{{item}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>