<div class="header">
    <div class="first-line">
        <div class="first-line-container">
            <img class="site-pic" src="assets/{{include.pic}}">
            {{include.name}}
        </div>
    </div>
    <div class="contact-list-container">
        {% for contact in site.data.contacts %}
        <div class="contact">
            <i class="contact-pic material-icons">{{contact.icon}}</i>
            {{contact.html}}
        </div>
        {% endfor %}
        <br style="clear: left;"/>
    </div>
</div>