{% assign data=include.data %}

<div class="main-point" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back">
    <div class="main-point-header" id="main-point-header-{{include.name | slugify}}">
        <img src="/assets/img/larrow.png"/>
        <h1>{{include.name}}</h1>
    </div>
    {% for element in data limit:include.limit%}
    <div class="sub-point">
        <div class="sub-point-header">
            <img src="/assets/img/larrow-small.png"/>
            <a href="{{element.url}}" class="post-title"><h2>{{element.title}}</h2></a>
            <div class="post-excerpt">
                {{element.excerpt}}
            </div>
            <a href="{{element.url}}" class="leggidipiu">... Leggi di più</a>
        </div>
    </div>
    {% endfor %}
    <p style="margin-left:4vw"><a href="/blog.html">See all posts</a></p>
</div>