{% assign data=include.data %}

<div class="main-point" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back">
    <div class="main-point-header" id="main-point-header-{{include.name | slugify}}">
        <img src="/assets/img/larrow.png"/>
        <h1>{{include.name}}</h1>
    </div>
    {% for element in data limit:include.limit%}
    <div class="sub-point">
        <div class="sub-point-header">
            <img src="/assets/img/larrow-small.png"/>
            <h2><a href="{{element.url}}" class="post-title" style="font-size: 15pt;color: #054C9C;">{{element.title | upcase}}</a></h2>
            <div class="post-excerpt">
                {{element.excerpt}}
            </div>
            <a href="{{element.url}}" class="leggidipiu">... Leggi di più</a>
        </div>
    </div>
    {% endfor %}
    <p style="margin-left:4vw;margin-bottom:20px"><a href="/blog/index.html" class="leggidipiu" style="font-size: 18pt">See all posts</a></p>
</div>