.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  color: white;
  background-color: #064c9c;
  border-color: #064c9c;
  border-radius: 50%;
  padding: 29px 7px;
  line-height: 0.05;
}

.back-to-top > i {
  font-size: 36pt;
}

.header {
  background-color: #2D71B8;
  color: black;
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.contact :hover {
  color: #AAAAAA;
  text-decoration: none;
  transition: 0.3s;
  fill: #AAAAAA;
}

.name {
  margin-top: 30px;
  //height: 70%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  color: #050B10;
  font-weight: 500;
  font-size: 22pt;
  //margin-bottom: 10vh;
}
.name h1 {
  font-weight: 700;
  font-size: 22pt;
  display: inline-block;
}



.menu {
  margin-top: 20px;
}

.menu a {
    text-decoration: none;
    color: #050B10;
  }

.menu  a:visited {
    color: #050B10;
  }


.menu a:hover {
    color: #AAAAAA;
    transition: 0.3s
  }

#current-link {
  color: #AAAAAA;

  :visited {
    color: #AAAAAA;
  }
}


.contact-list-container {
  color: white;
  width: 200px;
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-content: baseline;
}

.contact-list {
  margin-top: 10px;
  color: #AAAAAA;
  font-size: 8px;
  margin-left: -10px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.contact-list-container * {
  font-size: 16pt;
}

.contact svg {
  max-height: 20px;
}

.contact-pic {
  width: 20px;
}


.main {
  margin-left: calc(275px + 20px);
  margin-right: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: calc(100% - 295px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.collapsible {
  margin-right: 2vh;
  box-shadow: none;

}

.main-point-header {
  margin-bottom: 2vh;
}

.main-point-header > h1 {
  font-size: 30pt;
  color: #050B10;
  position: relative;
  top: 8px;
}

.main-point-header > img {
  min-width: 50px;
  min-height: 60px;
}

.main-point-header > * {
  display: inline-block;
  vertical-align: middle;
}

.sub-point {
  margin-left: 4vw;
  margin-bottom: 5vh;
}

.sub-point-header > h2,.sub-point-header > a {
  font-size: 15pt;
  color: #054C9C;
}

.sub-point-header > h2, .sub-point-header > p {
  position: relative;
  top: 8px;
}

.sub-point-header > img {
  max-width: 40px;
  max-height: 40px;
}

.sub-point-header {
  color: #2D71B8;
  font-size: 14pt;
}

.sub-point-header > * {
  display: inline-block;
  align-items: baseline;
  justify-content: center;
  vertical-align: middle;
}

.sub-point-content > h3 {
  font-size: 14pt;
}

.sub-point-content > p {
  margin-bottom: 2em;
}

.sub-point-content {
  margin-left: 40px;
}


.collapsible-header {
  background-color: transparent;
}


.sub-point-bar-container {
  display: flex;
  vertical-align: middle;
  line-height: 2em;
  min-height: 60px;
}

.sub-point-bar-name {
  width: 30%;
  line-height: normal;
  height: auto;
  float: left;
}

.ldBar {
  float: left;
  margin-top: 19px;
  margin-left: 50px;
}

.ldBar > * {
  float: left;
}

.ldBar path.mainline {
  stroke-width: 20px;
  stroke: #2D71B8;
  stroke-linecap: round;
}

.ldBar path.baseline {
  stroke-width: 14pt;
  stroke-linecap: square;
  stroke-opacity: .5;
}

.ldBar-label {
  margin-top: 20px;
}

.collapsible-body li {
  margin-bottom: 0.5em;
}

.collapsible-body li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #2D71B8; /* Change the color */
  font-weight: bolder; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */

}

.collapsible-body ul {
  list-style: none;
}

body, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13pt;
  color: #050B10;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

img {
  min-width: 20px;
  max-width: 50px;
  min-height: 20px;
  max-height: 50px;
}


.column-left {
  min-width: 305px;
  max-width: 48%;
  float: left;
}

.column-right {

  min-width: 305px;
  max-width: 48%;
  float: left;

}

.post-excerpt {
  color: #050B10;
}

.post-title:link, .post-title:visited {
  color: #054C9C;
  text-decoration: none;
}

.post-title:hover, .post-title:active {
  color: #054C9C;
  text-decoration: underline;
}

.leggidipiu:link, .leggidipiu:visited {
  color: #050B10;
  text-decoration: none;
}

.leggidipiu:hover, .leggidipiu:active {
  color: #050B10;
  text-decoration: underline;
}


.first-line-thin {
  margin-left: 5%;
  height: 100%;
  display: flex;
  color: #050B10;
  font-weight: 500;
  font-size: 13pt;
  //margin-bottom: 10vh;
}

.first-line-thin h1 {
  font-weight: 700;
  font-size: 13pt;
  display: inline;
}


.first-line-thin img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 8%;
}

.first-line-container-thin {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 0;
}

.first-line-container-thin * {
  margin: 10px;
}