@media screen and (max-width: 999px) {
  .first-line-container {
    display: grid;
  }
  .contact-list-container {
    display: grid;
  }
  .first-line-container * {
    margin: 0;
  }

  .main-point-header > h1 {
    font-size: 7.5vw;
  }

  .sub-point-header > h2, .sub-point-header > p {
    font-size: 4.7vw;
  }

  .main > * {
    clear: both;
    float: none;
    max-width:100%;
  }
  
}

@media screen and (max-width: 425px) {
  .first-line {
    font-size: 45pt;
  }
  .first-line h1 {
    font-size: 55pt;
  }


  .sub-point-content {
    margin-left: 40px;
  }


  h1 {
    font-size: 30pt;
  }
  body {
    font-size: 13pt;
  }
}
