---
title: Stefano Gavioli - Blog
layout: page
---
<h1>Blog Posts</h1>
<hr style="margin-top:20px;margin-bottom:20px">

{% if paginator.posts.size > 0 %}
    There are {{paginator.posts | size}} posts:

    {% for post in paginator.posts %}
        {% include post_preview.html post=post %}
    {% endfor %}

    <!-- Pagination links -->
    <div style="display:flex;align-items:center;justify-content: center">
        <div class="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item {% unless paginator.previous_page %}disabled{%endunless%}">
                    <a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item disabled"><a class="page-link">{{ paginator.page }} of {{ paginator.total_pages }}</a>
                </li>
                <li class="page-item {% unless paginator.next_page %}disabled{%endunless%}">
                    <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
                </li>
            </ul>
        </div>
    </div>
{% else %}
There are no blog post yet! Come back soon to find some!
{% endif %}